/**
 * Descripción: Estilos de Registro
 * Fecha: 11 Junio de 2025
 * Programador: Elvia Medina
 */

/* Variables globales */
:root {
  --color-fondo: #f0f2f5;
  --color-principal: #0A3B74;
  --color-principal-hover: #031d3b;
  --color-texto-secundario: #777;
  --color-borde-imagen: #ccc;
  --color-blanco: #ffffff;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-fondo);
  font-family: 'Segoe UI', sans-serif;
  overflow-x: hidden;
}

/* Contenedor principal */
.RegistroContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
}

.RegistroForm {
  background: var(--color-blanco);
  width: 100%;
  max-width: 800px;
  padding: 3rem 2rem;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.Logo {
  width: 80px;
  display: block;
  margin: 0 auto 1.5rem auto;
}

.Titulo {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-principal);
  margin-bottom: 0.5rem;
}

.Subtitulo {
  text-align: center;
  color: var(--color-texto-secundario);
  margin-bottom: 2rem;
  font-size: 1rem;
}

.FotoPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.PreviewImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--color-borde-imagen);
  margin-bottom: 1rem;
}

.FileLabel {
  background-color: var(--color-principal);
  padding: 01rem 1rem;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.FileLabel:hover {
  background-color: var(--color-principal-hover);
}

.PFluid > * {
  margin-bottom: 1.25rem;
}

.p-inputtext,
.p-dropdown,
.p-calendar,
.p-password {
  width: 100%;
  font-size: 1rem;
}

.PInvalid {
  border: 1px solid red !important;
}

.p-button {
  background-color: var(--color-principal);
}

.p-password {
  display: block;
  width: 100% !important;
}

/* Oculta los radios */
.SexoInput {
  display: none;
}

.BtnSiguiente {
  width: 100%;
  font-size: 1rem;
  padding: 0.75rem;
  border-radius: 6px;
  background-color: var(--color-principal);
  color: var(--color-blanco);
  border: none;
  transition: background-color 0.2s;
}

.BtnSiguiente:hover {
  background-color: var(--color-principal-hover);
}

/* Responsivo */
@media (max-width: 600px) {
  .RegistroForm {
    padding: 2rem 1rem;
  }

  .Titulo {
    font-size: 1.5rem;
  }

  .SexoGroup {
    flex-direction: column;
    align-items: center;
  }

  .SexoGroup button {
    width: 100%;
  }
  
}
